*{
    border: 0;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor{
    padding: 5em;
}

.titulo{
    border: 5pc salid red;
    background-color: black
    color
}
.boton{
    border: 1px solid gray;
    background-color: black;
    color: white;
    padding : 5em;
    cursor:pointer;
}

.boton hover{
    color:yellow;
}

.parrafo{
    width: 50%;
    border: 1px solid gray;
    padding: 15 px;
}